@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab&display=swap');

@media (min-width: 1914px){
  
    #pokemon_imagen_titulo img{
        height:3rem;
    }
    #pokemon_imagen_titulo h2{
        font-size: 3.5rem;
        padding-top: 0.5rem;
    }
    .pokemon_info div  {
        margin-top:2.5rem;
        padding-bottom:5rem;
        font-size:1.5rem;
    }
    .pokemon_card  .pokemon_info{
        height: 70vh;
    }
    .pokemon_img img{
        padding: 1px 5px 0 5px;
        }
        
        footer .other_pokemon{
            margin-top: 1.5rem;
        }
    footer h2{
        font-size: 2.5rem;
    }
    
}

@media (max-width: 1000px){   
    .pokemon_seleccionado{
        padding: 0rem 0rem 0 0.5rem;

       }   
    #pokemon_imagen_titulo h2{
        padding-top: 0.2rem;
        font-size:45px;
    }        
        footer{
            height:10vw;
        }
        
       
        .other_pokemon .text_others h2{
            padding: 1.5rem 0 0 5rem;
            }
            .other_pokemon .card_one img, .other_pokemon .card_two img{
                width:5vw;
                padding:1.22rem 2rem 0rem;
            }
            
        .other_pokemon .card_one, .other_pokemon .card_two, .other_pokemon .card_three, .other_pokemon .card_four{
            flex-basis: 2rem;
          }
}
@media (max-width: 820px){
    #pokemon_imagen_titulo h2{
        padding-top: 0;
        margin-top: -5px;
    }
    .pokemon_card .pokemon_seleccionado #pokemon_imagen_titulo{
        width:20rem;
        height: 7vh;
    }
    .pokemon_card{
        display:flex;
        flex-direction: column;
        height: 64vh;
        
        
    }
    .pokemon_card .pokemon-pokemon_seleccionado{
        min-height: 10px;
    }
    .pokemon_img img{
        height:12rem;
        z-index: 2;
    position:absolute;
    padding-left: 3rem;
    margin-top: 0px;
    }
   .pokemon_card .pokemon_tarjeta{
       height: 30vh;
   }
    .pokemon_card .pokemon_info{
        min-height: 10rem;
        min-width: 15rem;
        transform: translateX(7.5%);
        padding-top: 0px;
        margin-top: 11rem;
    }
    .pokemon_card .pokemon_info div{
        padding:0;
        margin-top: 0.45rem;
        font-size: 12px;
    }
   
    .other_pokemon .text_others h2{
        padding: 1rem  0 2rem 2.5rem;
        height:0;
        }
        .first_column_other{
            margin-left: 0px;
        }
        .other_pokemon .card_one img, .other_pokemon .card_two img{
            width:5vw;
            padding:1.22rem 1rem 0rem;
        }
        .other_pokemon .card_three img,.other_pokemon .card_four img{
            width:5vw;
            padding: 1.5rem 1rem 0rem;
        }
        footer{
            height:10vw;
        }
}
@media (max-width: 559px){
    header {
        justify-content:center;
    }
    .pokemon_card{
        position: relative;
    }
    .pokemon_card .pokemon_info {
    min-height: 8rem;
    margin-top: -10px;
    }
    
    .pokemon_card .pokemon_seleccionado #pokemon_imagen_titulo{
    width:19rem;
    margin-top: 1rem;
    margin-left: -50px;
    }
    .pokemon_card .pokemon_seleccionado #pokemon_imagen_titulo h2{
padding-top: 5px;
    }
   
  .pokemon_img{
    z-index: 2;
    position: absolute;
    top: -10px;
  }
  .pokemon_img img{
  height:30vh;
  margin-left: -2rem;
  margin-top: 2.5rem;
}

.pokemon_card .pokemon_info div {
margin-top: 20px;
}
    footer{
        height:28vh;
    }
    footer .other_pokemon{
        display:inline-block;
        min-width: 100vw;
        justify-content:center;

    }   
        .other_pokemon .text_others {
            display:flex;
            width:100vw;
            padding: 0;
            justify-content: center;
        }
        .other_pokemon .text_others h2{
           margin-left:0;
        }
       
               footer .other_pokemon .first_column_other {
               padding: 0;
               justify-content:center;
               }
               footer .other_pokemon .two_column {
                justify-content:center;
                   }
        .other_pokemon .card_one img, .other_pokemon .card_two img {
            width:35px;
            padding:0px;
            margin-left: 20px;
        }
        .other_pokemon .card_three img, .other_pokemon .card_four img{
            width:35px;
            padding:0px;
            margin-left: 20px;
        }
}
